

body{
  font-family: 'Inter', sans-serif;
}

:root {
 
  /* Accent / Brand */
  --accent-primary: #35b8be;
  --accent-primary-hover: rgba(53, 184, 190, 0.7);
  --light: #ffffff;

  /* Background */
  --background-primary: #ffffff;
  --background-secondary: #F5FBFC;

  /* Text */
  --text-header: #28224b; 
  --text-paragraph: #546285;
  --text-secondary: #222222; 
  --text-light: #ffffff; 
  --text-title-dark: #08090a; 

  /* Buttons */
  --button-primary-bg: #35b8be;
  --button-primary-hover-bg: rgba(53, 184, 190, 0.7);
  --button-primary-focus-bg: rgb(156, 244, 249);
  --button-primary-text: #ffffff;

  --button-secondary-bg: transparent; 
  --button-secondary-text: #222222;
  --button-secondary-border-color: rgba(97, 114, 131, 20%);


  /* Cards */
  --cards-bg-color: #ffffff;
  --cards-border-color: rgba(53, 184, 190, 15%);
  /* Inputs */
  --input-text: #000000;
  --input-bg: #fafafa;
  --input-border: #dddddd;
  --input-border-hover: #35b8be;
  --input-border-focus: #35b8be;


  



}


/*Typography*/

.heading1 {
  color: var(--accent-primary);
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 3.437rem;
  letter-spacing: 1.65px;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 10px;
  }
};


.section__text {
  color: var(--text-paragraph);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.687rem;
  letter-spacing: 0.36px;
  text-align: center;
  margin-top: 20px;
  max-width: 466px;

  @media screen and (max-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    padding: 0 10px;
    max-width: 100%;
  }
};