@import "@styles/mixins/mediaQueries.scss";

.orderPage__section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 14rem 12rem;
  background-color: var(--background-primary);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--background-details);
    transform: skewY(-3deg);
    transform-origin: top right;
  }

  @include for-size(phone-only) {
    padding: 4rem 1rem;
  }
}

.orderPage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.6rem;

  @include for-size(phone-only) {
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
}
