@import "@styles/mixins/mediaQueries.scss";

.input {
  border-radius: 6px;
  border: 1px solid var(--input-border);
  background: var(--input-bg);
  color: var(--input-text);
  font-size: 16px;
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  &[type=number] {
    text-align: center;
  }

  &:hover {
    border: 1px solid var(--input-border-hover);
  }

  &:focus {
    border: 1px solid var(--input-border-focus);
  }

  @include for-size(phone-only) {
    font-size: 14px;
    padding: 8px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sm {
  height: 45px;
  width: 60px;
  line-height: 27px;
  justify-content: center;

  @include for-size(phone-only) {
    padding: 6px;
    font-size: 14px;
  }
}

.md {
  padding: 10px 0;
  line-height: 24px;
  justify-content: center;

  @include for-size(phone-only) {
    padding: 8px 0;
    font-size: 14px;
  }
}

.lg {
  padding: 0.69rem 14.69rem 0.44rem 0.94rem;
  font-size: 18px;
  line-height: 26px;
  justify-content: flex-start;

  @include for-size(phone-only) {
    padding: 12px;
    font-size: 16px;
  }
}