@import "@styles/media-queries.scss";


.card {
  width: 580px;
  height: 200px;
  background-color: var(--cards-bg-color); 
  border: 1px solid var(--cards-border-color); 
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  padding: 0 26px;

  @include for-size(phone-only) {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @include for-size(phone-only) {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }
}

.image {
  display: block;
  width: 120px;
  height: 120px;

  @include for-size(phone-only) {
    width: 80px;
    height: auto;
  }
}

.aboutBurger {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;

  @include for-size(phone-only) {
    width: 100%;
    gap: 5px;
  }
}

.title__price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-size(phone-only) {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
}

.title {
  color: var(--text-title-dark);
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: 0.6px;

  @include for-size(phone-only) {
    font-size: 1rem;
  }
}

.price {
  color: var(--accent-primary);
  font-size: 0.9375rem;
  line-height: 0.9375rem;

  @include for-size(phone-only) {
    font-size: 1rem;
  }
}

.description {
  margin-top: 6px;
  margin-bottom: 8px;
  color: var(--text-paragraph);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.32px;

  @include for-size(phone-only) {
    font-size: 14px;
    line-height: 1.3rem;
  }
}


.add_to_cart__amount {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
}
