body{
  font-family: 'Inter', sans-serif;
}

:root {
 
  --header-bg: #ffffff;

  /* Accent / Brand */
  --accent-primary: #35b8be;
  --accent-primary-hover: rgba(53, 184, 190, 0.7);

  /* Text */
  --text-header: #28224b; 
  --text-paragraph: #546285;
  --text-secondary: #222222; 
  --text-light: #ffffff; 
  --text-title-dark: #08090a; 

  /* Buttons */
  --button-primary-bg: #35b8be;
  --button-primary-hover-bg: rgba(53, 184, 190, 0.7);
  --button-primary-focus-bg: rgb(156, 244, 249);
  --button-primary-text: #ffffff;

  --button-secondary-bg: transparent; 
  --button-secondary-text: #222222;
  --button-secondary-border-color: rgba(97, 114, 131, 20%);


  /* Cards */
  --cards-bg-color: #ffffff;
  --cards-border-color: rgba(53, 184, 190, 15%);
  /* Inputs */
  --input-text: #000000;
  --input-bg: #fafafa;
  --input-border: #dddddd;
  --input-border-hover: #35b8be;
  --input-border-focus: #35b8be;
}
