$sidebar-color: #ffffff;
$font-size: 0.937rem;
$line-height: 1.25rem;

.header {
  padding: 20px 120px;
  position: sticky;
  top: 0;
  z-index: 100; 
  background-color: var(--header-bg);
  @media screen and (max-width: 768px) {
    padding: 16px 20px;
  }
}

.logo {
  display: block;
  max-width: 40px;
  width: 100%;
  height: auto;

  @media screen and (max-width: 768px) {
    max-width: 28px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding: 0 16px;
    width: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 6.25rem;

  @media screen and (max-width: 768px) {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: $sidebar-color;
    border: 1px solid var(--accent-primary);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 1rem;
    z-index: 100;

    &.navOpen {
      display: flex;
    }
  }
}

.navLinksHeader {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: $font-size;
  line-height: $line-height;

  a {
    color: var(--text-header);

    &:hover {
      color: var(--accent-primary);
      transition: all 0.3s ease;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.sidebar {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
