@import "@styles/media-queries.scss";


.column {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  @include for-size(phone-only) {
    align-items: center;
    gap: 1rem;
  }
}

.column__title {
  color: var(--text-title-dark); 
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.column__list {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  @include for-size(phone-only) {
    align-items: center;
    gap: 0.8rem;
  }
}

.li_a {
  color: var(--text-paragraph);  
  font-size: 0.937rem;
  font-weight: 400;
  line-height: 1.25rem;

  &:hover {
    color: var(--accent-primary);
    transition: all 0.3s ease;
  }

  &:focus {
    color: var(--accent-primary);
  }
}