#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(92, 97, 189);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #e8ece6;
  margin-bottom: 1rem;
}
